doctype html
html(lang="en")
    head
        title=`${title}`
        script(type='text/javascript').
            if (foo) bar(1 + 5)
            
        link(rel="stylesheet", href="public/static/css/wiki-stylesheet.css")
            
    body
        
        #app.app(data-module-app="application")
            
            #header.hDr(data-module-header="header")
                h1.
                    header
                
            
            #container.cntnt(data-module-container="container")
                h2.
                    container
                
            
            #footer.footer(data-module-footer="footer")
                h3.
                    footer
        
            
        
