:root {
  --bg-color: #f0f0f0;
  --primary-color: #4557af;
  background-color: var(--bg-color);
  --logo-space: calc(240px - 16px);
  --usrspace: calc(300px - 16px);
  --searchbar: 266px;
  --sort-width-1: calc(100% - var(--logo-space) - var(--usrspace) - var(--searchbar)); }

body, html {
  margin: 0;
  padding: 0;
  font-size: .93rem;
  font-family: sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#searchbar input[type=text], #viewlocation > ul, .reset, button, h1, h2, h3, h4, h5, h6, input, p {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: 0;
  border: 0;
  clear: both; }

#header {
  width: 100%;
  height: 56px;
  background-color: var(--primary-color);
  padding: 0 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  z-index: 100; }

#logo-space {
  width: var(--logo-space);
  height: 56px;
  line-height: 56px;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2); }

.logo {
  content: "";
  color: #fff;
  font-size: 1rem; }

#viewlocation {
  width: var(--sort-width-1);
  height: 56px;
  line-height: 56px; }

#viewlocation > ul {
  width: 100%;
  height: auto; }

#viewlocation > ul li {
  height: 56px;
  line-height: 56px;
  color: #fff;
  display: inline-block;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#viewlocation > ul li:hover {
  background-color: rgba(0, 0, 0, 0.3); }

#viewlocation > ul li > i {
  vertical-align: middle;
  margin-right: 8px;
  font-size: 22px; }

#searchbar {
  width: var(--searchbar);
  height: 56px;
  line-height: 56px;
  padding: 0 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#searchbar input[type=text] {
  width: 100%;
  height: 36px;
  background-color: rgba(245, 245, 245, 0.28);
  border-radius: 3px;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#usrspace {
  width: var(--usrspace);
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.avatar {
  width: 36px;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 50%; }

#container {
  width: 100%;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

#navbar {
  width: 240px;
  height: calc(100vh - 56px);
  background-color: transparent; }

.navbar-content {
  width: 100%;
  height: calc(100vh - (192px + 56px)); }

.label {
  width: 100%;
  height: 36px;
  line-height: 36px;
  color: #454545;
  background-color: #ddd;
  text-align: center;
  vertical-align: middle; }

#content {
  width: calc(100vw - 540px);
  height: calc(100vh - 56px);
  background-color: #fff;
  padding: 32px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.23);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.23); }

/*# sourceMappingURL=wiki-styles.css.map */
